.course { 
  width: 100%; 
  border-radius: 5px;
  margin-top:10px;
  cursor:pointer;
  color:#444;
  -webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.31);
  -moz-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.31);
  box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.31);
}

.courseShort {
  flex-flow: row nowrap;
  justify-content: space-between;
  color:#fff;
  min-height: 60px;
  border:0px;  
}

.horizontalLine {
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin-top:18px;
}
.overview {
  flex-flow: column nowrap;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.31);
}

.header {
  display: flex;
  justify-content: space-between;
  margin:10px;
}
.header h4 {
  font-weight: 500;
  font-size:13pt;
}

.img {
  margin: 1rem 0;
  width: 100%;
  background-color: #ddd;
  display: flex;
  justify-content: center;
}

.img > img {
  width: 100%;
  height: 300px; 
  object-fit:cover;
}

.description {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 10px;
}

.footer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer > * {
  font-size: 24px;
  color: #ce6328;
}

/* begin of styles for the course route */

.lessonsContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.lessonsHeader {
  margin: 1rem 0 1.5rem;  
  font-weight: 500;
  font-size: 13pt;
}

.lessonsWrapper {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.lesson {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 1.5rem 1rem 1.5rem 1rem;
  margin-bottom: 0rem;
  font-weight: 400;
  font-size: 12pt;
}

.lesson:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
}

.lesson > img {
  margin-right: 2rem;
  border-radius: 50%;
}

.lesson:not(:last-of-type)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 95%;
  height: 1px;
  background-color: rgba(0, 0, 0, .2);
}


/* end of styles for the course route */

.topicHeader {
  /*padding: 1rem 0 0 1rem;*/
}

.topicContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  /*min-height: 100vh;*/
  height: auto;
  margin-top: 2rem;
}

.topicContainer > * {
  margin-bottom: 2rem;
}

.topicContainer > img {
  width: 90vw;
  height: 90vw;
  align-self: center;
}

.quizContainer {
  margin: 2rem 0 0;
  width: 80%;
  height: auto;
}

.quizQuestion {
  align-self: flex-start;
  text-align: left;
  margin-bottom: 30px;
  color:#444;
}

.quizAnswers {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  margin-left:30px;
  height: auto;
}

.quizAnswer {
  color:#555;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 0;
  padding: 0.3rem;
}

.courseProgress{
  float:right;
  width: 40%;
  text-align: end;
}

.lightning{
  width: 13px;
  height: 20px;
  background-image: url("../../img/Blitz_color.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.lesson .lightning{
  width: 21px;
height: 33px;
position: absolute;
right: 30px;
}

.lesson .empty{
  background-image: url("../../img/Blitz_bw.svg");
}
.lesson .half{
  background-image: url("../../img/half_lightning.svg");
}


.progress { 
  display: flex;
  justify-content: end;
  
  column-gap: 10px;
}


.linearProgress {
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.61);
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.61);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.61);
}