:root {

}

* {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

html, body {
  inset: 0;
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 90vw;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 1rem 0;
  margin: 0 auto;
}
 