.registerText {
  color: rgba(0, 0, 0, .6);
  padding:20px;
  margin-bottom:10px;
}
 
 
.bottomImage {
  width: 80%;
  height: 100px;
  margin-top:50px;
  background-image: url("../../img/justafewsteps.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
